exclude *.cpp
include LICENSE
graft wasmpy/arch
include wasmpy/globals.cpp
include wasmpy/memories.cpp
include wasmpy/nativelib.cpp
include wasmpy/builtin/spectest.cpp
recursive-include wasmpy *.hpp
recursive-exclude wasmpy/arch *.o
recursive-exclude wasmpy/arch *.cpp
recursive-exclude wasmpy/arch *.tmp
recursive-include wasmpy/arch lib.cpp
