exclude *.cpp
include LICENSE
graft wasmpy/arch
recursive-exclude wasmpy *.o
recursive-exclude wasmpy *.cpp
recursive-exclude wasmpy *.tmp
recursive-include wasmpy *.hpp
recursive-include wasmpy lib.cpp
